.page404 {
    padding: 50px 20px;
    @media (min-width: 768px) {
        padding: 100px 20px;
    }
}

.page404Wrapper {
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    background: url(../images/bg404.png) center center no-repeat;
    background-size: cover;
    padding: 80px 50px;
    text-align: center;
    color: #fff;
    h1 {
        margin: 0;
        margin-bottom: 30px;
        font-size: 125px;
    }
    h2 {
        margin-bottom: 30px;
        font-size: 30px;
    }
}
