.servicesCoverImage {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -15px 15px 0px 0px rgba(2, 248, 183, 1);
}

.servicesWrapper {
    .serviceUnique {
        padding: 80px 0;
        a {
            text-decoration: none;
            color: inherit;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            color: #232f30;
            font-size: 16px;
            .serviceUniqueImage {
                max-width: 285px;
                width: 28%;
                @include ratio(1, 1);
                border-radius: 50%;
            }
            .serviceUniqueTextWrapper {
                width: 68%;
                h2 {
                    color: #232f30;
                    font-weight: 400;
                    font-size: 36px;
                }
                .serviceUniqueTextMore {
                    text-align: center;
                    color: #16c093;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 2.16px;
                }
                .serviceUniqueTextLess {
                    text-align: center;
                    display: none;
                    color: #16c093;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 2.16px;
                }
            }
        }
        &:nth-child(2n + 2) {
            background-color: #eee;
        }
    }
}
